* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: snow;
}

header {
  height: 80px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  color: darkslategray;
  background: rgb(18,218,199);
background: linear-gradient(180deg, rgba(18,218,199,1) 20%, rgba(255,255,255,1) 63%);
  background-size: cover;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 35px;
}

header:hover {
  color: black;
  cursor: pointer;
}

header:active {
  transform: scale(.9,.9);
}


main {
  display: flex; 
  justify-content: center;
}

form {
  width: 350px;
  height: 350px;
  background-color: darkslategray;
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  margin: 30px;
  min-width: 280px;
}

button {
  background-color: #232323;
  border-radius: 15px;
  width: 75px;
  height: 25px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(18,218,199,1) 63%);
  border: none;
  margin: 5px;
  -webkit-box-shadow: 2px 5px 9px 0px rgba(0,0,0,0.83); 
  box-shadow: 2px 5px 9px 0px rgba(0,0,0,0.83);
}

button:active {
  transform: scale(.9,.9);
}

input[type='text'] {
  width: 85%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #232323;
  color: #232323;
  background-color: snow;
}

#price-container {
  width: 85%;
}

#radio-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#houses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.house-cover-image {
  width: 300px; 
  height: 300px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: white 2px solid;
}


.house-card {
  background-color: turquoise;
  width: 300px;
  margin: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.house-address {
  font-size: 18px;
  margin: 5px 0;
  background-color: snow;
}

.house-price {
  font-size: 15px;
  margin: 5px 0;
}

.btns-container {
  width: 100%; 
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

.btns-container > button {
  width: 20px;
}